<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UniversityClient</display-name>
  <welcome-file-list>
    <welcome-file>view/Login.jsp</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/view/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceServlet</display-name>
    <servlet-name>InvoiceServlet</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.InvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceServlet</servlet-name>
    <url-pattern>/InvoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddCourse</display-name>
    <servlet-name>AdminAddCourse</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.AdminAddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCourse</servlet-name>
    <url-pattern>/AdminAddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProfessor</display-name>
    <servlet-name>DeleteProfessor</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.DeleteProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfessor</servlet-name>
    <url-pattern>/DeleteProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfessor</display-name>
    <servlet-name>UpdateProfessor</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.UpdateProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfessor</servlet-name>
    <url-pattern>/UpdateProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminDeleteClass</display-name>
    <servlet-name>AdminDeleteClass</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.AdminDeleteClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteClass</servlet-name>
    <url-pattern>/AdminDeleteClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseClass</display-name>
    <servlet-name>GetCourseClass</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.GetCourseClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseClass</servlet-name>
    <url-pattern>/GetCourseClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateCourse</display-name>
    <servlet-name>AdminUpdateCourse</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.AdminUpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateCourse</servlet-name>
    <url-pattern>/AdminUpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignClass</display-name>
    <servlet-name>AssignClass</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.AssignClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignClass</servlet-name>
    <url-pattern>/AssignClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDetails</display-name>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
    <url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCourses</display-name>
    <servlet-name>SearchCourses</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.SearchCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCourses</servlet-name>
    <url-pattern>/SearchCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfData</display-name>
    <servlet-name>UpdateProfData</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.UpdateProfData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfData</servlet-name>
    <url-pattern>/UpdateProfData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudData</display-name>
    <servlet-name>UpdateStudData</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.UpdateStudData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudData</servlet-name>
    <url-pattern>/UpdateStudData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseToStudent</display-name>
    <servlet-name>AddCourseToStudent</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.AddCourseToStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseToStudent</servlet-name>
    <url-pattern>/AddCourseToStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropCourseToStudent</display-name>
    <servlet-name>DropCourseToStudent</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.DropCourseToStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropCourseToStudent</servlet-name>
    <url-pattern>/view/DropCourseToStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAssignClass</display-name>
    <servlet-name>EditAssignClass</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.EditAssignClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAssignClass</servlet-name>
    <url-pattern>/EditAssignClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAssignClass</display-name>
    <servlet-name>UpdateAssignClass</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.UpdateAssignClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAssignClass</servlet-name>
    <url-pattern>/UpdateAssignClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllStudents</display-name>
    <servlet-name>GetAllStudents</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.GetAllStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllStudents</servlet-name>
    <url-pattern>/GetAllStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllProfessors</display-name>
    <servlet-name>GetAllProfessors</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.GetAllProfessors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProfessors</servlet-name>
    <url-pattern>/GetAllProfessors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllPersons</display-name>
    <servlet-name>GetAllPersons</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.GetAllPersons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPersons</servlet-name>
    <url-pattern>/GetAllPersons</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCourses</display-name>
    <servlet-name>GetAllCourses</servlet-name>
    <servlet-class>edu.cmpe273.univclient.servlet.GetAllCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCourses</servlet-name>
    <url-pattern>/GetAllCourses</url-pattern>
  </servlet-mapping>
</web-app>